RPC_URL=https://services.polkadothub-rpc.com/testnet
RPC_WRITE_URL=https://eth-rpc-testnet.polkadot.io/
RPC_WRITE_USE_LEGACY=true
BACKEND_PRIVATE_KEY=
PORT=3030
CONVEX_URL=
OPENROUTER_API_KEY=

PROTOCOL_TREASURY_ADDRESS=0x6574E8DBb3a69991c4DB5c41dC99507eB31e8b46

EVENT_HUB_ADDRESS=0x6AA22fa4b6B4Afd6f27C7Eb361030BDd5eb1D35E
QUOTE_TOKEN_ADDRESS=0x4DE0df239240cead24621631453f2FAf653f9A71
LAUNCHPAD_ADDRESS=0x1749d1Cc0Cf9937f7FeEED330204F5e0F9f95d27
AGENT_TRADE_EXECUTOR_ADDRESS=0x099d4993672027c50FFdE130229a3fA21dE55592
EIP8004_IDENTITY_REGISTRY_ADDRESS=0x0d2f4B33fdfef6925f76fa07540a961dCa485Dd1
EIP8004_REPUTATION_REGISTRY_ADDRESS=0x1D053170e82Dc74A575B2AbC720f08Ebfc961936
EIP8004_VALIDATION_REGISTRY_ADDRESS=0xa24870CE413754a0EE26284e0eC8BF4d389b0A48
AGENT_PUBLIC_BASE_URL=http://localhost:3030
EIP8004_AGENT_NAME=DotAgent Autonomous Executor

LAUNCHPAD_POOL_ALLOCATION_BPS=8000
LAUNCHPAD_SWAP_FEE_BPS=100
LAUNCHPAD_CREATOR_FEE_SHARE_BPS=5000
LAUNCHPAD_INITIAL_USDT_LIQUIDITY=50000
LAUNCHPAD_BOOTSTRAP_USDT_MULTIPLIER=1000


TWITTER_BOT_ENABLED=true
TWITTER_BOT_TARGET_HANDLE=@TestingdevsAccs
TWITTER_BOT_POLL_MS=20000
TWITTER241_RAPIDAPI_KEY=
TWITTER241_RAPIDAPI_HOST=twitter241.p.rapidapi.com
